{% extends 'base.html' %}
 
{% block content %}
    <!--Main content-->
    <section class="container margin-bottom-50">
      <div class="row">
        <div class="tm-gallery col-lg-12">
          <div class="tm-item-container">
            <img src="img/gallery/0.jpg" alt="Image">
            <div class="tm-item-price-container tm-gallery-item-info">
              <span class="tm-item-price">A Class</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">View More</span>
                <img src="img/plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>
          </div>
          <div class="tm-item-container">
            <img src="img/gallery/1.jpg" alt="Image">
            <div class="tm-item-price-container tm-gallery-item-info">
              <span class="tm-item-price">B Class</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">View More</span>
                <img src="img/plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>
          </div>
          <div class="tm-item-container">
            <img src="img/gallery/0.jpg" alt="Image">
            <div class="tm-item-price-container tm-gallery-item-info">
              <span class="tm-item-price">C Class</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">View More</span>
                <img src="img/plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>
          </div>
          <div class="tm-item-container">
            <img src="img/gallery/1.jpg" alt="Image">
            <div class="tm-item-price-container tm-gallery-item-info">
              <span class="tm-item-price">E Class</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">View More</span>
                <img src="img/plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>
          </div>
          <div class="tm-item-container">
            <img src="img/gallery/1.jpg" alt="Image">
            <div class="tm-item-price-container tm-gallery-item-info">
              <span class="tm-item-price">S Class</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">View More</span>
                <img src="img/plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>
          </div>
          <div class="tm-item-container">
            <img src="img/gallery/0.jpg" alt="Image">
            <div class="tm-item-price-container tm-gallery-item-info">
              <span class="tm-item-price">G Class</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">View More</span>
                <img src="img/plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>
          </div>
          <div class="tm-item-container">
            <img src="img/gallery/1.jpg" alt="Image">
            <div class="tm-item-price-container tm-gallery-item-info">
              <span class="tm-item-price">Benz</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">View More</span>
                <img src="img/plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>
          </div>
          <div class="tm-item-container">
            <img src="img/gallery/0.jpg" alt="Image">
            <div class="tm-item-price-container tm-gallery-item-info">
              <span class="tm-item-price">Benz</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">View More</span>
                <img src="img/plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>
          </div>
          <div class="tm-item-container">
            <img src="img/gallery/0.jpg" alt="Image">
            <div class="tm-item-price-container tm-gallery-item-info">
              <span class="tm-item-price">Benz</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">View More</span>
                <img src="img/plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>
          </div>
          <div class="tm-item-container">
            <img src="img/gallery/1.jpg" alt="Image">
            <div class="tm-item-price-container tm-gallery-item-info">
              <span class="tm-item-price">Benz</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">View More</span>
                <img src="img/plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>
          </div>
          <div class="tm-item-container">
            <img src="img/gallery/0.jpg" alt="Image">
            <div class="tm-item-price-container tm-gallery-item-info">
              <span class="tm-item-price">Benz</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">View More</span>
                <img src="img/plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>
          </div>                    
          <div class="tm-item-container">
            <img src="img/gallery/1.jpg" alt="Image">
            <div class="tm-item-price-container tm-gallery-item-info">
              <span class="tm-item-price">Benz</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">View More</span>
                <img src="img/plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>
          </div>
        </div>        
      </div>

      <!--banner-->
    </section> <!-- Main content -->
{% endblock %}